<div class="card">
  <div class="card__title">
    <h2 class="card__title--text">ngModel</h2>
  </div>
  <div class="card__content">
    <p class="card__description">app.module.ts</p>
    <div class="card__code">
      <pre><code class="language-typescript">{{tscode2}}</code></pre>
    </div>
    <p class="card__description">component.ts</p>
    <div class="card__code">
      <pre><code class="language-typescript">{{tscode}}</code></pre>
    </div>
    <p class="card__description">component.hmtl</p>
    <div class="card__code">
      <pre><code class="language-html">{{htmlcode}}</code></pre>
    </div>
    <p class="card__description">Example:</p>
    <div class="card__example">
      <div>
        <input type="text" [(ngModel)]="textModel">
      </div>
      <p>{{textModel}}</p>
    </div>
  </div>
</div>
