<div class="card">
  <div class="card__title">
    <h2 class="card__title--text">Displaying values with interpolation</h2>
  </div>
  <div class="card__content">
    <p class="card__description">component.ts</p>
    <div class="card__code">
      <pre><code class="language-typescript">{{tscode}}</code></pre>
    </div>
    <p class="card__description">component.hmtl</p>
    <div class="card__code">
      <pre><code class="language-html">{{htmlcode}}</code></pre>
    </div>
    <p class="card__description">Example:</p>
    <div class="card__example">
      <h3>Current customer: {{ currentCustomer }}</h3>
    </div>
  </div>
</div>
